* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* index.html */
body {
    background-color:rgba(139, 139, 139, 0.068);
}


#index_page {
    /* url('{{ STATIC_URL }}/img/bg.jpg'); */
    /* background: url("{% static 'chat_app/images/banana.jpg' %}"); */
    /* background-image:url('{{ static }}images/banana.jpg') */
    /* background-image: url("{% static 'chat_app/images/banana.jpg' %}"); */

    /* background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTlSuxb-UfPtPjGO60kV4ZAR96FFGFp8bKlXi2NnwEHWvlhXRJM")
    background-size: cover; */
    height: 850px;
    -webkit-box-shadow: 7px -7px 49px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px -7px 49px -6px rgba(0,0,0,0.75);
    box-shadow: 7px -7px 49px -6px rgba(0,0,0,0.75);
    text-align: center;
}

#index_search {
    margin-top: 30px;
}

#banana_background {
    max-width: 100%;
    max-height: 100%;
}


#index_top {
    color: #111; 
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 50px; 
    font-weight: bold; 
    letter-spacing: -1px; 
    line-height: 1; 
    text-align: center;
    margin-bottom: 60px;
    padding-top: 20px;
}



.col {
    border: 1px black solid;
}

/* #index_middle: {
    height: 10px;
} */

#index_left {

    max-height: 200px;
}

#index_right {
    overflow-y: scroll;
    max-height: 200px;
}



#room-name-input{
    -webkit-box-shadow: 0px 0px 20px -2px rgba(0,0,0,0.51);
    -moz-box-shadow: 0px 0px 20px -2px rgba(0,0,0,0.51);
    box-shadow: 0px 0px 20px -2px rgba(0,0,0,0.51);
    margin: 30px;
}

#room-name-input:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

.index_text {
    color: rgb(0, 0, 0);
}

#index_profile {
    display: none;
}

/* menu toggle for the index page */

.menu_container {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
width: 35px;
height: 5px;
background-color: #333;
margin: 6px 0;
transition: 0.4s;
}

.change .bar1 {
-webkit-transform: rotate(-45deg) translate(-9px, 6px);
transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
-webkit-transform: rotate(45deg) translate(-8px, -8px);
transform: rotate(45deg) translate(-8px, -8px);
}


/* Room page */
#room_page_body {
    background-color: rgba(153, 205, 50, 0.11);
}

#room_page {
    padding-top: 50px;
    text-align: center;
    width: 60%;
}

#chat-log {
    background-color: rgb(240, 232, 232);
    background-image: url("chatboximage.jpeg");
    opacity: 0.7;
    height: 400px;
    -webkit-box-shadow: 0px 2px 17px -4px rgba(0,0,0,1);
    -moz-box-shadow: 0px 2px 17px -4px rgba(0,0,0,1);
    box-shadow: 0px 2px 17px -4px rgba(0,0,0,1);
    margin-bottom: 20px;
    width: 100%;
    border: 2px black solid;
}

.each_chat {
    background-color: white;
    color: black;
    border-radius: 8px;
    border: 1px black solid;
    margin: 5px 0;
}

/* The menu toggle feature from the Room page */


