
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/* This is the whole container that holds all the divs in the index page */
#index_container{
    display: flex;
    min-height: 1020px;
}

/* Menu on the left (ratio of the left to right is 1:5 using the flexbox)*/
.main_left {
    width: 20%
    border: 1px black solid;
    box-shadow: 3px 0px 7px -2px rgba(0,0,0,0.75);
}

.form-control {
    border: 2px black solid;
}

.main_left_holder {
    background-color: orange;
    position: sticky;
    top: 0px;
    width: 100%;
}

#main_left_menu {
    width: 100%;
}

#main_left_menu tr {
    height: 42px;
    border: 1px black solid;
}

/* The main page on the right side of the index page (ratio of the left to right is 1:5) */
.main_right {
    width: 80%;
    padding-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    /* background-image: url("/static/chat_app/images/the_wall.jpeg"); */
    background-size: auto;
}

.main_right_rooms {
    min-height: 300px;
    display: none;
    border-right: 2px black solid;
    border-top: 2px black solid;
    border-left: 2px black solid;
    border-radius: 4px;
}

.main_right_rooms_p .room_num {
    cursor: pointer;
    margin-bottom: 3px;
    
}

.main_right_rooms .chat_boxes {
    width: 100%;
    height: 260px;
    resize: none;
    overflow-y:auto;
    border: 1px black solid;
    border-bottom: 2px black solid;
    background-color: rgba(0, 0, 0, 0.185);
}

.send_button {
    border: 1px black solid;
}

/* This section is for the menu buttons on the left. I'm making it so that when you click on any of the menu buttons, the screen becomes black, and another new div pops out. This is created so that we don't have to direct to another url route */

.pop_window {
    background: rgba(0, 0, 0, 0.657);
    position: fixed;
    width: 100%;
    min-height: 800px;
    display: none;

}

.pop_container {
    background: white;
    min-height: 660px;
    width: 75%;
    position: relative;
    left: 50%;
    margin-left: -37.5%;
    top: 30px;
    text-align: center;
}

.pop_container .pop_container_pic {
    min-height: 300px;
    border: 1px black solid;
    width: 30%;
    display: inline-block;
    margin: 30px;

}



#friends, #profile, #new_room {
    cursor: pointer;
}

#enter_room {
    width: 60%;
}